<html>
  <body>
    <h1>Nova confirmação de presença!</h1>

    <p>Nome: <%= nome_convite %> </p>
    <p>Acompanhantes: <%= nomes_acompanhantes %> </p>
    <p>Email: <%= email %> </p>
    <p>Telefone: <%= telefone %> </p>
    <p>Data/hora: <%= data %></p>
  </body>
</html>
